
body{
    background-color:white;
    width:100%
}

.title {
    text-align:center;
    color:rgb(0, 0, 0);
}

.Header {
    z-index: -1;
    top: 0; 
    left: 0; 
    padding: 144px;
    width:2000px;
    margin:-1px;
    position:fixed;
    background-color:rgb(255, 255, 255);
}

#logo{
    width: 800px;
    z-index: 1;
    position:absolute;
    float:left;
}

.BigThree {
    flex-wrap:wrap;
    width:500px;
    height:300px;
    margin-top:250px;
}

#Ichigo {
    flex-wrap:wrap;
    width: 250px;
}

#AbbreviateName {
    z-index: 2;
    font-size: 40px;
    float:left;
    position:absolute;
    opacity:1;
    color:rgb(253, 7, 7);
}

.Home-Page {
    list-style-type:none;
    text-align:right;
    margin:0;
    padding:0;
}

li a{
    display:block;
    background-color:black;
    color:white;
}

li a:hover{
    background-color:red;
    color:black;
}

li {
    text-align:right;
    border-bottom:1px solid green;
}

a {
    text-decoration:none;
}

@media screen and(max-width: 900px) {
    .Header{
        width:500px
        background-color:red;
    }
}

@media screen and(max-width: 400px) {
    .TheOpening{
        width:100%
    }
    .Header{
        background-color:black;
    }
}